<!--<h1>MAIN PAGE</h1>-->
<!--<h1>repo name: <%#= @repo.repo_name %></h1>-->
<!--<h1>seed_size: <%#= @repo.seed_size.to_s %></h1>-->
<!--<h1>owner: <%#= @repo.users.first.username %></h1>-->
<div id ="info_center">
  <div id="project_info">
  </div>
  <div id ="progress">
  </div>
  <div id ="sentence_history">
  </div>
</div>
<div id="work_space_wrapper">
  <div id="button_space"></div>
</div>
