<div id="sign_up_box">
  <div id="right_box">
    <div id="right_box_top">
      <div id="right_box_key">
        <div id="right_box_key_head_out">
          <div id="right_box_key_head_in"></div>
        </div>
        <div id="right_box_key_body"></div>
        <div id="right_box_key_tail"></div>
      </div>
      <h1 class="right_box_white" id="right_box_top_sign_in">Log In</h1>
    </div>
    <div id="right_box_body">
      <div id="right_box_body_user_name" class="right_box_body_row">
        <h3>User Name</h3>
        <input id="user_name">
      </div>
      <div id="right_box_body_password" class="right_box_body_row">
        <h3>Password</h3>
        <input type="password" id="password">
      </div>
      <div id="right_box_body_confirm_password" class="right_box_body_row" hidden>
        <h3>Confirm Password</h3>
        <input type="password" id="confirm_password">
      </div>
      <div id="sign_up_button"><span>Log In</span></div>
      <div id="signup_login_button"><span>Sign Up Now!</span></div>
    </div>
  </div>
  <div id="left_box">
    <div id="sign_up_video">
      <%= link_to video_tag("background.mov", :size => "1223x1080", :id => "autoplay_video", :autoplay => true, :loop => true) %>
    </div>
  </div>
</div>

