<nav class="navbar navbar-light" id="header_bar" style="background-color: #4099F5;">
  <p>Repositories

  <p>
    <a href="../">
      <div id="sign_out">
        Sign Out
      </div>
    </a>
  </p>
  <p>
      <div id="header_citation" >
        Acknowledgments
      </div>
  </p>
</nav>