<nav class="navbar navbar-light" id="header_bar" style="background-color: #4099F5;">
  <p>Repositories

  <p>
    <div id="sign_out" onclick="eraseCookie()">
        Sign Out
    </div>
  </p>
  <p>
      <div id="header_citation" data-toggle="modal" data-target="#acknowledge_modal">
        Acknowledgement
      </div>
  </p>
</nav>


